* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    margin-top: -56;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Add this line to hide overflow content */
}

img {
    
    float: right;
    width: 35%;
    height: 95vh;
    margin-right: 175px;
    
}

.name {
    font-size: 22px;
    font-weight: bold;
    font-family: arial white;
    width: 140px;
    float: left;
    padding-top: 10px;
}

b {
    color: #ff004f;
}

.container {
    padding: 10px 10%;
    
}
nav{
    align-items: center;
    justify-content: center;
    justify-content: center;
    float: right;
    display: flex;
    margin-right: -90px;
}


nav ul {
    list-style-type: none;
    display: flex;
   
}

nav ul li {
    margin: 2px 20px;
    
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    position: relative;
}

nav ul li a::after {
    content: '';
    background-color: #ff004f;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    transition: width 0.5s;
    transform-origin: bottom right;
    transform: scalex(0);
}

nav ul li a:hover::after {
    width: 100%;
    transform-origin: bottom left;
    transform: scalex(1);
}
#header img {
    margin-top: 70px; /* adjust here */
    
}


.header-text {
    font-size: 20px;
    margin-top: 12%;
    margin-left: 50px;
    
    
}



.header-text p {
    /* font-size: 40px; */
    margin-top: 10px;
}

.header-text p span {
    color: #ff004f;
}

h1{
    margin-left: 51px;
    margin-bottom: -40px;
    margin-top: 20px;
}

/* About Section */

#about {
    padding: 80px 0;
    color: #ababab;

}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    margin-left: 170px;
}

.about-col-1 img {
    margin-top: px;
    border-radius: 10px;
    width: 100%; /* Set image width to 100% */
    height: auto; /* Allow image height to adjust automatically */
    
}

.sub-title {
    font-size: 24px;
    margin-top: -10px; /* Adjust as needed */
    width: 100%;
    color: white;
    padding-bottom: 50px;
    margin-left: auto;
}

.par {
    max-width: 430px;
    font-size: 13px;
}

.tab-tiitles {
    display: flex;
    margin: 20px 0 40px;
    color: white;
}

.tab-links {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding-right: 25px;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color:#b54769;
    font-size: 14px;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}
/*-------------------services-----------------------*/
#services{
    padding: 30px 0;

}
.services-list{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 15px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 60px;
    margin-bottom: 40px;
}
.services-list div h2{
    font: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*-----------------------portifolio--------------*/
#portifolio{
    padding: 50px 0;
}
.work-list{
    display:grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    height: 250px; /* or any max height you want */
    object-fit: cover; /* this ensures the image fills the box without distortion */
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width:54%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

 .layer a{
    margin-top: 2opx;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width:60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

    
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 14px solid #ff004f;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition:background 0.5s ;
}
.btn:hover{
    background: #ff004f;
}
.contact-left{
    flex-basis: 35%;
}
.contact-rigt{
    flex-basis: 35%;
}
.contact-left {
    margin-top: 30px;
}
.contact-left p i{
    color:#ff004f ;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    counter-reset: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    left: 0;
    background: #ff004f;
}
.contact-rigt form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
    display: flex;
   left: 40px;

}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
     
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px; 

}
.copyright i{
    color: #ff004f;
}
.moreText{
    display: none;
}
.readMoreBtn{
    background-color: #1f2627;
    border-radius: 10px;
    padding: 10px 30px ;
    margin-top: 15px;    
    text-align: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
   

}

.ptext.show-more .moreText{
    display: inline;
}
.ptext.show-more .dots{
    display: none;
}

/*----------------------css for small screen using meadia qwuerry-----*/
 nav .fas{
    display: none;
}
@media only screen and (max-width: 600px) {
    .header-text {
        margin-top: 100px;
        font-size: 10px;
        margin-left: 12px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
        
        
    }
    div .header-text h2 {
        font-size: 12px;
    }
    
    #header img {

        content: url('../image/app3.jpg');
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        
        
    }
    nav .fas{
        display: block;
        font-size: 25px; 
        cursor: pointer;
    }

    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 120px;
        height: 50vh; 
        padding-top: 10px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin-left: 20px;
        

    }
    nav ul li:hover{
        background-color: #262626;
        width: 70%;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        margin-left: 20px;
        font-size: 40px;
        margin-top: -20px;
    }
    .fas:hover{
        background-color: #262626;
        width: 30%;
    }

    nav ul.open {
        right: 0;
        display: block;
        padding-top: 40px;
        margin-left: 200px;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .par{
        font-size: 15px;
        margin-right: 40px;
        padding-top: 20px;
    }
    .tab-links{
        font-size: 16px;
    }
    .contact-left, .contact-rigt{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}

