<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Validation</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
   
    <div class="container">

        <form id="form" class="form" >
            <h2>Register with us</h2>
            <div class="form-control"> 
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="enter username" id="username">
                <small>Error message</small>
            </div>

            <div class="form-control"> 
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="enter your email" id="email">
                <small>Error message</small>
            </div>

            <div class="form-control"> 
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="enter your password" id="password">
                <small>Error message</small>
            </div>

            

            <div class="form-control"> 
                <label for="password2">Confirm password</label>
                <input type="password" name="password" placeholder="enter password again" id="password2">
                <small>Error message</small>
            </div>
            <button>Submit</button>
        </form>
   </div>

   <script src="../js/signup.js"></script>
</body>
</html>